RewriteEngine On
RewriteRule ^discord$ discord.html [L]
RewriteRule ^webstore$ webstore.html [L]
RewriteRule ^free$ free.html [L]
RewriteRule ^fivem$ fivem.html [L]
RewriteRule ^windows$ windows.html [L]