RewriteEngine On
RewriteRule ^admin$ admin_panel.html [L]
RewriteRule ^discord$ discord.html [L]
RewriteRule ^webstore$ webstore.html [L]
RewriteRule ^upload$ upload.html [L]
RewriteRule ^donate$ donate.html [L]
RewriteRule ^outdated$ outdated.html [L]
RewriteRule ^free$ free.html [L]
RewriteRule ^fivem$ fivem.html [L]
RewriteRule ^crabgame$ crabgame.html [L]
RewriteRule ^novafn$ novafn.html [L]
RewriteRule ^spoofer$ spoofer.html [L]
RewriteRule ^windows$ windows.html [L]
RewriteRule ^spotify$ spotify.html [L]
RewriteRule ^rust$ rust.html [L]
RewriteRule ^status$ status.html [L]